input[type="text"], input[type="date"], input[type="file"], input[type="number"], input[type="password"] ,input[type="email"]{
    width: 100%;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid white;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    resize: vertical;
    color: black;
}

label {
    font-size: 20px;
    color: white;
}

#formulario  {
    width: 100%;
    border-radius: 5px;
    background-color:  rgb(7, 7, 58);
    padding: 20px;
}

.btn {
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-verde {
    background-color: rgb(46, 172, 42);
    margin-right: 10px;
}

.btn-verde:hover {
    background-color: rgb(22, 75, 20);
}

.btn-rojo {
    background-color: rgb(219, 57, 57);
}

.btn-rojo:hover {
    background-color: rgb(87, 19, 19);
}
.btn-blue{
    background-color: blue;
}

.btn-blue:hover {
    background-color: darkblue;
}

.btn-narajo:hover {
    background-color: darkorange;
}

.btn-narajo{
    background-color: orange;
}